aiofiles
aiogram 
aiohttp   
aiosignal  
annotated-types
anyio         
async-timeout   
attrs           
blinker    
Brotli           
browser-cookie3   
build        
CacheControl    
certifi        
cffi             
charset-normalizer 
cleo               
click               
colorama            
crashtest           
curl-cffi           
distlib              
duckduckgo-search    
dulwich            
environs           
fastjsonschema      
filelock             
Flask                
Flask-Cors          
frozenlist          
g4f                  
h11                 
h2                   
hpack                
httpcore             
httpx                
hyperframe          
idna                
importlib_metadata   
iniconfig            
installer            
itsdangerous        
jaraco.classes      
Jinja2              
Js2Py               
keyring             
loguru              
lxml                 
lz4                  
magic-filter        
MarkupSafe           
marshmallow          
more-itertools       
msgpack              
multidict            
nest-asyncio        
numpy                
outcome              
packaging            
pexpect             
Pillow              
pkginfo              
platformdirs         
pluggy               
poetry               
poetry-core          
poetry-plugin-export 
ptyprocess           
pycparser            
pycryptodome         
pycryptodomex        
pydantic             
pydantic_core        
PyExecJS             
pygame               
pyjsparser           
pyproject_hooks      
PySocks              
pytest               
python-dotenv        
pywin32-ctypes       
rapidfuzz            
regex                
requests             
requests-toolbelt    
selenium             
setuptools           
shellingham          
six                  
sniffio              
socksio              
sortedcontainers     
telnetlib3           
tiktoken             
tls-client           
tomlkit              
trio                 
trio-websocket       
trove-classifiers    
typing_extensions    
tzdata               
tzlocal              
urllib3              
virtualenv           
waitress             
webdriver-manager    
websockets           
Werkzeug             
win32-setctime       
wsproto              
yarl                
zipp                 